.colorerosso {
  color : #FF0000;
}

.coloreverde {
  color : #009900;
}

.coloreblu {
  color : #0000FF;
}

.coloreazzurro {
  color: #3080E2;
}

.coloremarroncino {
  color: #E28030;
}

.coloreverde2 {
  color: #999900;
}

.coloreverde3 {
  color: #006633;
}

.coloregrigio {
  color: #666666;
}

.coloreviola {
  color: #6666CC;
}

.colorerosa {
  color: #CC9999;
}

.coloreviola2 {
  color: #CC66CC;
}

.colorenero {
  color: #000000;
}

.colorebianco {
  color: #FFFFFF;
}
